<h2>About Upload[IT] - Something changed.</h2>

<p>Upload[IT] is a photo upload site designed to make photo sharing easier than ever before. We understand the adage a picture is worth a thousand words and actively imbrace it as our motto. We believe people should be able to look back on these little snapshots of their lives and do so freely and comfortably. Our system doesn't require you to scroll through thousands of photos in order to find the one that you wish to see as we have a simple yet highly effective method for categorising the pictures which means you will never have to spend much of your precious time searching for the thing you want. </p>

<p>In order ensure the guaranteed safety and security of your memories (photos stored here will not fade like the ones on the wall and cannot be accidently missplaced) join our growing community and show the people around you how fantastically you are living life.</p>

<p>Our site is continually evolving through the aid of user feedback as well as the expertise of the development team behind the site and we have many plans for the future. <a href="sign-up.html">Sign up now</a> to enjoy the ride.</p>
