<form class="login">
	<fieldset>
		<legend>Login</legend>
		<ol>
			<li><label for="username">Username</label><input name="username" type="text" placeholder="Your username" title="Your username" value="" id="username" autofocus="autofocus" /></li>
			<li><label for="password">Password</label><input name="password" type="password" placeholder="Password" title="Your password" value="" id="password" /></li>
			<li class="controls"><a href="#" title="Forgotten password">Forgotten password or username?</a> <button type="submit" title="Login!">Continue</button></li>
		</ol>
	</fieldset>
</form>